hub/dispatcher/src/main/resources/xsd/location-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="urn:emergency:cisu:2.0" xmlns:ns1="urn:emergency:cisu:2.0">
    <!-- ns="urn:ietf:params:xml:ns:location-type"> -->
    <xs:simpleType name="Note_t">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="location-type">
        <xs:annotation>
            <xs:documentation>
                https://datatracker.ietf.org/doc/html/rfc4589
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:aircraft"/>
            <xs:element minOccurs="0" ref="ns1:airport"/>
            <xs:element minOccurs="0" ref="ns1:arena"/>
            <xs:element minOccurs="0" ref="ns1:automobile"/>
            <xs:element minOccurs="0" ref="ns1:bank"/>
            <xs:element minOccurs="0" ref="ns1:bar"/>
            <xs:element minOccurs="0" ref="ns1:bicyle"/>
            <xs:element minOccurs="0" ref="ns1:bus"/>
            <xs:element minOccurs="0" ref="ns1:bus-station"/>
            <xs:element minOccurs="0" ref="ns1:cafe"/>
            <xs:element minOccurs="0" ref="ns1:classroom"/>
            <xs:element minOccurs="0" ref="ns1:club"/>
            <xs:element minOccurs="0" ref="ns1:construction"/>
            <xs:element minOccurs="0" ref="ns1:convention-center"/>
            <xs:element minOccurs="0" ref="ns1:government"/>
            <xs:element minOccurs="0" ref="ns1:hospital"/>
            <xs:element minOccurs="0" ref="ns1:hotel"/>
            <xs:element minOccurs="0" ref="ns1:industrial"/>
            <xs:element minOccurs="0" ref="ns1:library"/>
            <xs:element minOccurs="0" ref="ns1:motorcycle"/>
            <xs:element minOccurs="0" ref="ns1:office"/>
            <xs:element minOccurs="0" ref="ns1:other"/>
            <xs:element minOccurs="0" ref="ns1:outdoors"/>
            <xs:element minOccurs="0" ref="ns1:parking"/>
            <xs:element minOccurs="0" ref="ns1:place-of-worship"/>
            <xs:element minOccurs="0" ref="ns1:prison"/>
            <xs:element minOccurs="0" ref="ns1:public"/>
            <xs:element minOccurs="0" ref="ns1:public-transport"/>
            <xs:element minOccurs="0" ref="ns1:residence"/>
            <xs:element minOccurs="0" ref="ns1:restaurant"/>
            <xs:element minOccurs="0" ref="ns1:school"/>
            <xs:element minOccurs="0" ref="ns1:shopping-area"/>
            <xs:element minOccurs="0" ref="ns1:stadium"/>
            <xs:element minOccurs="0" ref="ns1:store"/>
            <xs:element minOccurs="0" ref="ns1:street"/>
            <xs:element minOccurs="0" ref="ns1:theater"/>
            <xs:element minOccurs="0" ref="ns1:train"/>
            <xs:element minOccurs="0" ref="ns1:train-station"/>
            <xs:element minOccurs="0" ref="ns1:truck"/>
            <xs:element minOccurs="0" ref="ns1:underway"/>
            <xs:element minOccurs="0" ref="ns1:unknown"/>
            <xs:element minOccurs="0" ref="ns1:warehouse"/>
            <xs:element minOccurs="0" ref="ns1:water"/>
            <xs:element minOccurs="0" ref="ns1:watercraft"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="aircraft">
        <xs:annotation>
            <xs:documentation>
                A device that is used or intended to be used for flight in
                the air, such as an airplane, helicopter, gyroplane, glider, or
                lighter-than-air devices like a balloon.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="airport">
        <xs:annotation>
            <xs:documentation>
                A place from which aircrafts operate, such as an airport or
                heliport.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="arena">
        <xs:annotation>
            <xs:documentation>
                Enclosed area used for sports events.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="automobile">
        <xs:annotation>
            <xs:documentation>
                An automotive vehicle, usually four-wheeled, designed
                for passenger transportation, such as a car
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="bank">
        <xs:annotation>
            <xs:documentation>
                Business establishment in which money is kept for saving,
                commercial purposes, is invested, supplied for loans, or
                exchanged.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="bar">
        <xs:annotation>
            <xs:documentation>
                A bar or saloon.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="bicyle">
        <xs:annotation>
            <xs:documentation>
                A vehicle with two wheels tandem, a steering handle, a
                saddle seat, and pedals by which it is propelled.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="bus">
        <xs:annotation>
            <xs:documentation>
                A large motor vehicle designed to carry passengers.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="bus-station">
        <xs:annotation>
            <xs:documentation>
                Terminal that serves bus passengers, such as a bus
                depot or bus terminal.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="cafe">
        <xs:annotation>
            <xs:documentation>
                Usually a small and informal establishment that serves various
                refreshments (such as coffee); coffee shop.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="classroom">
        <xs:annotation>
            <xs:documentation>
                Academic classroom or lecture hall.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="club">
        <xs:annotation>
            <xs:documentation>
                Dance club, nightclub, or discotheque.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="construction">
        <xs:annotation>
            <xs:documentation>
                Construction site.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="convention-center">
        <xs:annotation>
            <xs:documentation>
                Convention center or exhibition hall.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="government">
        <xs:annotation>
            <xs:documentation>
                Government building, such as those used by the
                legislative, executive, or judicial branches of governments,
                including court houses, police stations, and military
                installations.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="hospital">
        <xs:annotation>
            <xs:documentation>
                Hospital, hospice, medical clinic, mental institution, or
                doctor's office.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="hotel">
        <xs:annotation>
            <xs:documentation>
                Hotel, motel, inn, or other lodging establishment.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="industrial">
        <xs:annotation>
            <xs:documentation>
                Industrial setting, such as a manufacturing floor or
                power plant.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="library">
        <xs:annotation>
            <xs:documentation>
                Library or other public place in which literary and
                artistic materials, such as books, music, periodicals, newspapers,
                pamphlets, prints, records, and tapes, are kept for reading,
                reference, or lending.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="motorcycle">
        <xs:annotation>
            <xs:documentation>
                A two-wheeled automotive vehicle, including a scooter.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="office">
        <xs:annotation>
            <xs:documentation>
                Business setting, such as an office.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="other" type="ns1:Note_t">
        <xs:annotation>
            <xs:documentation>
                A place without a registered place type representation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="outdoors">
        <xs:annotation>
            <xs:documentation>
                Outside a building, in or into the open air, such as a
                park or city streets.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="parking">
        <xs:annotation>
            <xs:documentation>
                A parking lot or parking garage.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="place-of-worship">
        <xs:annotation>
            <xs:documentation>
                A religious site where congregations gather for
                religious observances, such as a church, chapel, meetinghouse,
                mosque, shrine, synagogue, or temple.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="prison">
        <xs:annotation>
            <xs:documentation>
                Correctional institution where persons are confined while on
                trial or for punishment, such as a prison, penitentiary, jail,
                brig.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="public">
        <xs:annotation>
            <xs:documentation>
                Public area such as a shopping mall, street, park, public
                building, train station, or airport or in public conveyance such
                as a bus, train, plane, or ship. This general description
                encompasses the more precise descriptors 'street', 'public-
                transport', 'aircraft', 'bus', 'bus-station', 'train', 'train-
                station', 'airport', 'shopping-area', 'outdoors', and
                'watercraft'.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="public-transport">
        <xs:annotation>
            <xs:documentation>
                Any form of public transport, including aircraft,
                bus, train, or ship.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="residence">
        <xs:annotation>
            <xs:documentation>
                A private or residential setting, not necessarily the
                personal residence of the entity, e.g., including a friend's home.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="restaurant">
        <xs:annotation>
            <xs:documentation>
                Restaurant, coffee shop, or other public dining
                establishment.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="school">
        <xs:annotation>
            <xs:documentation>
                School or university property, but not necessarily a
                classroom or library.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="shopping-area">
        <xs:annotation>
            <xs:documentation>
                Shopping mall or shopping area. This area is a
                large, often enclosed, shopping complex containing various stores,
                businesses, and restaurants usually accessible by common
                passageways.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="stadium">
        <xs:annotation>
            <xs:documentation>
                Large, usually open structure for sports events, including
                a racetrack.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="store">
        <xs:annotation>
            <xs:documentation>
                Place where merchandise is offered for sale, such as a shop.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="street">
        <xs:annotation>
            <xs:documentation>
                A public thoroughfare, such as an avenue, street, alley,
                lane, or road, including any sidewalks.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="theater">
        <xs:annotation>
            <xs:documentation>
                Theater, lecture hall, auditorium, classroom, movie
                theater, or similar facility designed for presentations, talks,
                plays, music performances, and other events involving an audience.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="train">
        <xs:annotation>
            <xs:documentation>
                Train, monorail, maglev, cable car, or similar conveyance.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="train-station">
        <xs:annotation>
            <xs:documentation>
                Terminal where trains load or unload passengers or
                goods; railway station, railroad station, railroad terminal, train
                depot.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="truck">
        <xs:annotation>
            <xs:documentation>
                An automotive vehicle suitable for hauling, used primarily to
                carry goods rather than people.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="underway">
        <xs:annotation>
            <xs:documentation>
                In a land-, water-, or aircraft that is underway (in
                motion).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="unknown">
        <xs:annotation>
            <xs:documentation>
                The type of place is unknown.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="warehouse">
        <xs:annotation>
            <xs:documentation>
                Place in which goods or merchandise are stored, such as a
                storehouse or self-storage facility.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="water">
        <xs:annotation>
            <xs:documentation>
                In, on, or above bodies of water, such as an ocean, lake,
                river, canal, or other waterway.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="watercraft">
        <xs:annotation>
            <xs:documentation>
                On a vessel for travel on water such as a boat or ship.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
</xs:schema>
