hub/dispatcher/src/main/resources/xsd/emsi/2015/event.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://tacticalsituationobject.org/schemas/EMSI/2_0"
           xmlns:emsi="http://tacticalsituationobject.org/schemas/EMSI/2_0">
  <xs:include schemaLocation="common.2015.xsd"/>
  <xs:element name="event">
    <xs:annotation>
      <xs:documentation>
        Identifie l'événement créateur de l'EMSI
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="emsi:id">
          <xs:annotation>
            <xs:documentation>
              Identifiant de l'événement pour le créateur de l'EMSI
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="name" type="emsi:id" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Nom de l'événement
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="main_event_id" type="emsi:id" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Lien vers l'événement principal
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="etype" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Le type de l'événement, qui est la collation de plusieurs facettes
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
              <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="category" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation>
                  <xs:documentation>
                    Description du scénario menant à l'événement
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="actor" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation>
                  <xs:documentation>
                    Définition de l'objet, l'item, l'élément menacé
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="loctype" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation>
                  <xs:documentation>
                    Type de lieu où se déroule l'événement
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:element name="env" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation>
                  <xs:documentation>
                    Environnement général, contexte de l'événement
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="source" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Origine de la déclaration de l'événement
              COMFOR : prévision numérique,
              HUMDED : prévision humaine, déduction
              HUMOBS : observation humaine
              SENSOR : senseurs et détecteurs
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COMFOR"/>
              <xs:enumeration value="HUMDED"/>
              <xs:enumeration value="HUMOBS"/>
              <xs:enumeration value="SENSOR"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="scale" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Décrit la gravité de l'événement
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:minExclusive value="1"/>
              <xs:maxExclusive value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="certainty" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Probabilité (%) d’occurrence de l'événement
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:minExclusive value="0"/>
              <xs:maxExclusive value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="decl_datetime" type="emsi:date_type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Chrono-date de déclaration de l'événement
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="occ_datetime" type="emsi:date_type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Chrono-date de survenance de l'événement
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="obs_datetime" type="emsi:date_type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Chrono-date des informations contenues dans l'EMSI
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="status" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Statut actuel de l'événement
              COM = événement terminé,
              IPR = événement en cours,
              NST = événement non démarré,
              STOP = événement sous contrôle, aucun besoin de ressource supplémentaire
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COM"/>
              <xs:enumeration value="IPR"/>
              <xs:enumeration value="NST"/>
              <xs:enumeration value="STOP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="risk_assessmnt" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Évolution prévue de l'événement
              INCREA= En croissance, augmentation
              DECREA =En décroissance, diminution
              STABLE = aucune évolution, stable
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="INCREA"/>
              <xs:enumeration value="DECREA"/>
              <xs:enumeration value="STABLE"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Liste des identifiants d'événements pouvant être liés au même événement
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="org_id" type="emsi:id">
                <xs:annotation>
                  <xs:documentation>
                    Identifiant unique du noeud à l'origine du EMSI
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="other_event_id" type="emsi:id" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Indique les identifiants pour le même événement, utilisés par d'autres agences
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="casualties" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Nombre de victimes réelles ou prévues
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="context">
                <xs:annotation>
                  <xs:documentation>
                    Contexte lié à l'élément victimes
                    REQ_ACTION = nécessite une action
                    ALR_TREATED = déjà traité
                    PRED_URGENT =urgent prévu
                    PRED_MEDIUM = urgence à moyen terme
                    INITIAL_STAT = évaluation initiale non confirmée, indique la nature de l'événement
                    PRELIM_STAT = évaluation préliminaire effectuée par un intervenant d'urgence sur les lieux, qui peut ne pas être qualifié pour effectuer le triage mais dont la description de l'incident est acceptée
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="REQ_ACTION"/>
                    <xs:enumeration value="ALR_TREATED"/>
                    <xs:enumeration value="PRED_URGENT"/>
                    <xs:enumeration value="PRED_MEDIUM"/>
                    <xs:enumeration value="INITIAL_STAT"/>
                    <xs:enumeration value="PRELIM_STAT"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="datime" type="emsi:date_type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Chrono-date du contexte prédit
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="decont" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Indique le nombre de victimes nécessitant un traitement contre les agents CBRN (décontamination) dans le contexte actuel
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="triagered" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de victime en priorité rouge, en extrême urgence EU  (priorité maximum)
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="triageyellow" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de victimes au niveau de priorité «JAUNE» , Urgence absolue
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="triagegreen" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de victimes au niveau de priorité «verte» , Urgence Relative
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="triageblack" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de victimes au niveau de priorité «noire» , DCD
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="missing" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de personnes signalées ou présumées disparues, enlevées, etc.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="evac" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Nombre de personnes évacuées
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="datime" type="emsi:date_type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Chrono-date de l'évacuation
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="displaced" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de personnes déplacées en raison de l'événement dans le contexte actuel
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="evacuated" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Nombre de personnes qui subissent le processus de déplacement dans le contexte actuel
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="egeo" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Position géographique de l'événement
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="datime" type="emsi:date_type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Chrono-date de la ou des position géographiques
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="type">
                <xs:annotation>
                  <xs:documentation>
                    Description du type de zone
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="weather" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Météo de la zone
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="freetext" type="emsi:freeText" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Fournit des informations en texte libre pour la description de la zone d'intervention t et son importance dans le contexte de l'événement
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="id" type="emsi:id" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Définit l'identifiant pour cette zone géographique (pour référence ultérieure).
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="status" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Statut des éléments EGEO indépendamment du statut de l’événement auquel ils se rapportent
                    PLANNED : prévu, planifié
                    IN PLACE : en place, en cours
                    GONE : terminé, disparu
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="PLANNED"/>
                    <xs:enumeration value="IN_PLACE"/>
                    <xs:enumeration value="GONE"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="position" type="emsi:locationType">
                <xs:annotation>
                  <xs:documentation>
                    Position de l'élément EGEO
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cause" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Cause de l'événement
              ACC : Accidentelle
              DEL : Humaine
              NAT : Naturel
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ACC"/>
              <xs:enumeration value="DEL"/>
              <xs:enumeration value="NAT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="freetext" type="emsi:freeText" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Informations en texte libre pour décrire l'événement.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
