hub/dispatcher/src/main/resources/xsd/emsi/2015/resource.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://tacticalsituationobject.org/schemas/EMSI/2_0"
           xmlns:emsi="http://tacticalsituationobject.org/schemas/EMSI/2_0">
  <xs:include schemaLocation="common.2015.xsd"/>

  <xs:element name="resource">
    <xs:annotation>
      <xs:documentation>
        Identifie la ressource de l'EMSI
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rtype">
          <xs:annotation>
            <xs:documentation>
              Description détaillée de la ressource
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="class" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Type de ressources
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="capability" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Décrit les principaux domaines de capacités et de compétences de la ressource.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Principales caractéristiques physiques de la ressource: taille, poids, volume.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="id" type="emsi:longId" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Identifiant unique de la ressource dans le noeud
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="org_id" type="emsi:longId" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Identifiant unique du nœud qui contrôle la ressource
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="name" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Nom de la ressource
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="40"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="freetext" type="emsi:freeText" minOccurs="0"/>
        <xs:element name="rgeo" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Permet de définir plusieurs positions de la ressource à des moments différents.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="datime" type="emsi:date_type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Chrono-date d'utilisation de cette position géographique,
                    par exemple pour définir l'heure d'arrivée estimée (ETA) sur le lieu de l'incident.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="type">
                <xs:annotation>
                  <xs:documentation>
                    Type de l'Information géographique
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="position" type="emsi:locationType">
                <xs:annotation>
                  <xs:documentation>
                    Position de la ressource
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="freetext" type="emsi:freeText" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Description en texte libre de l'emplacement et de son importance pour la ressource
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="id" type="emsi:id" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Identifiant de cette zone géographique (RGEO) pour référence ultérieure.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="quantity" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Définit la quantité de ce type de ressource
              dans l'unité de mesure (UM)fournie dans l'élément de messagerie unifiée.
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:double">
              <xs:minInclusive value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="um" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Unité de mesure de la quantité
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="status" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Statut de la ressource
              * AVAILB = disponible,
              * UNAV = indisponible (peut-être de manière permanente),
              * MAINTC = en maintenance,
              * RESRVD = réservé,
              * VIRTUAL = la ressource est uniquement virtuelle,
              * IN_USE = en cours d'utilisation et reviendra au statut DISPONIBLE une fois sa mission terminée.
              Le statut IN_USE peut être détaillé en
              IN USE / MOBILE = en transit
              ou IN_USE / ON_SCENE : Arrivée sur les lieux
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="AVAILB"/>
              <xs:enumeration value="UNAV"/>
              <xs:enumeration value="MAINTC"/>
              <xs:enumeration value="RESRVD"/>
              <xs:enumeration value="VIRTUAL"/>
              <xs:enumeration value="IN_USE"/>
              <xs:enumeration value="USE / MOBILE"/>
              <xs:enumeration value="IN_USE / ON_SCENE"/>
              <xs:enumeration value="DISPONIBLE"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nationality" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Nationalité initiale de la ressource
              Utilisation de la norme ISO 3166-1-alpha-2
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="contact" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Un ou plusieurs types d'informations de contact pour une ressource
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type">
                <xs:annotation>
                  <xs:documentation>
                    Type de contact
                    PSTADD = adresse postale,
                    EMLADD = adresse électronique,
                    IPADD = adresse Internet,
                    FTPADD = adresse FTP,
                    WWWADD =Adresse Web,
                    PHNADD = numéro de téléphone,
                    FAXADD = adresse de télécopie,
                    PMRADD = numéro de radio professionnelle.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="PSTADD"/>
                    <xs:enumeration value="EMLADD"/>
                    <xs:enumeration value="IPADD"/>
                    <xs:enumeration value="FTPADD"/>
                    <xs:enumeration value="WWWADD"/>
                    <xs:enumeration value="PHNADD"/>
                    <xs:enumeration value="FAXADD"/>
                    <xs:enumeration value="PMRADD"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="detail">
                <xs:annotation>
                  <xs:documentation>
                    Fournit un contact réel des informations détaillées de la ressource
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
